.nav-bar {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    position: relative;
    background-color: #272727;
    padding: 20px 16px;
    left: -20px;
    bottom: -18px;
    display: table;
}

.nav-bar-link {
    color: #ffecb3;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    position: relative;
    margin-right: 20px;
    width: 20%;
}

.nav-bar .nav-bar-link:hover:not(.active) {
    background-color: #FF652F;
}

.active2 {
    background-color: #272727;
}

