.main-menu .nav-bar {
    padding: 10px;
    display: flex;
    margin: auto;
    width: 100%;
    font-size: 20px;
}

.nav-bar-link {
    display: inline-block;
    color: #747474;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar .nav-bar-link:hover:not(.active) {
    background-color: #303030;
}

.active2 {
    background-color: #272727;
}