* {box-sizing: border-box;}

/*input, select, textarea {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
*/
input[type=submit] {
    position:relative;
    left: 5.5%;
    padding: 1%;
}

.form{
    vertical-align: center;
    width: 49%;
    padding:1%;
}

form{
    width: 70%;
    padding: 3%;
    padding-bottom: 4%;
    padding-left: 5%;
}

.top-block{
    text-align: center;
    display: inline;
    padding-bottom: 20px;
}

input[type=text],input[type=email],input[type=number]{
    width: 57%;
    float: right;
}
