{% extends 'base.html' %}

{% set page_head_title = 'Extendeable Ear' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('product.static', filename='css/product.css') }}"/>
{% endblock %}
{% block page_body_js %}
    <script src="{{ url_for('product.static', filename='js/product.js') }}"></script>
{% endblock %}

{% block page_body_main_content %}
    <div class="main-product">
        <div class="main-product-details">
            <aside>
                 <h1 class = heading-1>Extendeable Ears</h1>
            <p>They are long, flesh-coloured pieces of string which one can insert in one's ear, then shove the other
                end under (for example) a door, and one will hear the conversation or other noise as clear as if it was
                mere feet away, unless, that is, the door has been Imperturbed (with Imperturbable Charm)</p>
                <p>Price: <del>25£</del> 15£</p>
                <div class="add-to-cart">
                    <button>Add to Cart</button>
                </div>
            </aside>
        </div>
        <div class="main-product-image">
            <aside>
            <img src="img/products/extendable_ear.jpg" alt="Extendeable Ears" width="350" height="400"/>
            </aside>
        </div>

    </div>
    <div class="main-reviews">
    <h2 class="heading-2">Rating & Reviews</h2>
        <div class="add-review">
            <button type="button" class="write-review-button" onclick="showReviewForm()">Write a review</button>
            <form id="review-form" action="" style="display:none;">
                <div>
                    <label for="user-name">User Name*: </label>
                    <input type="text" id="user-name" placeholder="User Name" name="review" required>
                </div>
                <div>
                    <label for="review">Review*: </label>
                    <textarea  id="review" rows="4" placeholder="Review" name="review" required></textarea>
                </div>
                <input type="submit" value="Post review" name="submit-review">
            </form>
        </div>
        <div class="show-reviews">
            <div class="show-reviews-details">
                <p class="review-info">user123</p>
                <p class="review-info">08.05.19 15:13</p>
            </div>
            <div class="show-reviews-content">
                <p>Best product EVER!</p>
            </div>
        </div>
    </div>
{% endblock %}
