{% extends 'base.html' %}

{% set page_head_title = 'Peruvian Instant Darkness Powder' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('product.static', filename='css/product.css') }}"/>
{% endblock %}
{% block page_body_js %}
    <script src="{{ url_for('product.static', filename='js/product.js') }}"></script>
{% endblock %}

{% block page_body_main_content %}
    <div class="main-product">
        <div class="main-product-details">
            <aside>
                 <h1 class = heading-1>Peruvian Instant Darkness Powder</h1>
            <p>This darkness powder creates darkness when used, allowing the user to escape.
        As its name indicates, it was originally invented by the wizarding community in Peru, which is the place from which the
                Weasley twins imported the powder. The darkness produced is resistant to many Light-creation spells.</p>
                <p>Price: 35£</p>
                <div class="add-to-cart">
                    <button type="button">Add to Cart</button>
                </div>
            </aside>
        </div>
        <div class="main-product-image">
            <aside>
            <img src="/static/media/img/products/peruvian_instant_darkness_powder.jpg" alt="Peruvian Instant Darkness Powder" width="350" height="400"/>
            </aside>
        </div>

    </div>
    <div class="main-reviews">
    <h2 class="heading-2">Rating & Reviews</h2>
        <div class="add-review">
            <button type="button" class="write-review-button" onclick="showReviewForm()">Write a review</button>
            <form id="review-form" action="" style="display:none;">
                <div>
                    <label for="user-name">User Name*: </label>
                    <input type="text" id="user-name" placeholder="User Name" name="review" required>
                </div>
                <div>
                    <label for="review">Review*: </label>
                    <textarea  id="review" rows="4" placeholder="Review" name="review" required></textarea>
                </div>
                <input type="submit" value="Post review" name="submit-review">
            </form>
        </div>
        <div class="show-reviews">
            <div class="show-reviews-details">
                <p class="review-info">Jake#56</p>
                <p class="review-info">19.05.20 17:34</p>
            </div>
            <div class="show-reviews-content">
                <p>use all the time the powder to escape covid-19</p>
            </div>
        </div>
    </div>
{% endblock %}
