{% extends 'base.html' %}

{% set page_head_title = '{{ product.name }}' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('product.static', filename='css/product.css') }}"/>
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
{% endblock %}
{% block page_body_js %}
    <script src="{{ url_for('product.static', filename='js/product.js') }}"></script>

{% endblock %}

<!-- Hi! do you know why the background image of the page is smaller? not fitted to all of the page?
this with the picture of the product which I cant see.. needs to check if its in the base.css or in your css
the heading of Rating & Reviews are not at the correct place. it is places aside to the product's description
-->
{% block page_body_main_content %}
    <div class="main-product">
        <div class="main-product-details">
            <aside>
                <h1 class = heading-1>{{ product.name }}</h1>
                <p>{{ product.description }}</p>
                <p>Price: £{{ product.price }}</p>
                <div class="add-to-cart">
                    <a href="{{  url_for('cart.index') }}"><button class="fa fa-shopping-cart">Add to Cart</button></a><!--remind me to check if the "hover" over any button is working  -->
                </div>
            </aside>
        </div>
        <div class="main-product-image">
            <aside>
                <img src="{{ url_for('catalog.static', filename='img/'+product.img) }}" border="1" title="{{ product.name }}" alt={{ product.name }}/>

            </aside>
        </div>
    </div>
    <div class="main-reviews">
    <h2 class="heading-2">Rating & Reviews</h2>
        <div class="add-review">
            <button type="button" class="write-review-button" onclick="showReviewForm()">Write a review</button>
{#            <form id="review-form"  method="POST" action='pages/product/templates/{{ product.name|lower|replace(" ","_")}}.html'>#}
            <form id="review-form" method="post" action="/product">
                <label for="user-email">User Email: *</label>
                <input type="text" id="email" name="email" {% if session['logged-in'] %} placeholder={{ session['email'] }} value='{{ session['email'] }}' {% else %} "Email" {% endif %} required>
                <label for="review">Review: *</label>
                <textarea id="review" placeholder="Write your review here..." name="review" required></textarea><br/>
                <div class="rating">
                    <input id="star5" name="star" type="radio" value="5" class="radio-btn hide" />
                    <label for="star5" >☆</label>
                    <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" />
                    <label for="star4" >☆</label>
                    <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" />
                    <label for="star3" >☆</label>
                    <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" />
                    <label for="star2" >☆</label>
                    <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" />
                    <label for="star1" >☆</label>
                    <div class="clear"></div>
                </div><br/>
                <input type="submit" value="Post review" name="submit-review">
                <input type="reset" name="reset-review">
            </form>
        </div>
        <hr/>
        <div class="show-reviews">
            {% if review %}

            <div class="show-reviews-details">
                    <p class="review-info">{{ review[0].email_address }}</p> {# INSERT QUERY BY JOIN PRODUCT ID #}
                    <p class="review-info">{{ review[0].date }}</p>
            </div>
            <div class="show-reviews-content">
                <p>{{ review[0].content }}</p>
            </div>
            {% else %}
                <h4 class="heading-4">There is no reviews for this product.</h4>
                <h4 class="heading-4">Wanna be the <strong>first?</strong></h4>
            {% endif %}
        </div>
    </div>
{% endblock %}
