<!--{% extends 'base.html' %}
{% set page_head_title = 'catalogue' %}

{% block page_body_main_content %}-->
{# we dont use html tags and blocks tags#}
<!DOCTYPE html>
<html lang="{{ page_lang|default("en", true) }}">
<head>
    <title>Hokus Mokus | Catalogue</title>
    <!--Meta info-->
    <meta charset="UTF-8"/>
    <meta name="description" content="Catalogue page"/>
    <meta name="keywords" content="Wizard, Magic, Spells"/>
    <link rel="icon" href="url"/> <!--ADD URL-->

    <base href=""/> <!--ADD URL-->
</head>
 <body> 
 {# class name like Barak... small letters only and - between words#}
{# same note about all the id #}
{# I'm not fixing this because the css I dont want to break something#}

    <div class="topblock"> <!--Title and sub-title-->
        <h1>Joke Products</h1> <!--Is it working?-->
        <h3>Magic is only a click away...<br/>Check out our products and let your inner wizard roam free.<br/>Expecto patronum!</h3>
    </div>
    <hr>
{#  why aside? what we have in the other side? #}
{# search working? you are going to implement that? #}
    <aside>
        <form method="post" id="search_form" action="route">
            <fieldset>
                <legend>Product Search</legend>
            <label for="fname">Search by name</label> <!--Search by name-->
            <input type="text" id="fname" name="fname"><br>

            <label for="category">Product Category</label> <!--Message-->
            <select id="category" name="category">
                <option value="joke">Joke products</option>
                <option value="explosive">Explosive Enterprises</option>
                <option value="muggle">Muggle Magic</option>
                <option value="sweets">Witch Sweets</option>
            </select><br>
            <input type="submit" value="Search">
            </fieldset>
        </form>
    </aside>
{#  price in £ like on part 3 the 2 products that will work be like on part 3 #}
    <ul class="catalogue" style="list-style-type:none;"> <!--List of products-->
        <li class="product">
            <a href="url"> <!--The picture, description and price are all links to one page-->
                <img src="../images/Sticky_0.jpg" border="1" title="Sticky Trainers" alt="Sticky Trainers">
                <h4>Sticky Trainers</h4>
                <p>£20.00</p> <!--UPDATE PRICE-->
            </a>
        </li>
        <li class="product">
            <a href="url">
                <img src="../images/Nopoo_0.jpg" border="1" title="Sticky Trainers" alt="Sticky Trainers">
                <h4>No Poo Bottle</h4>
                <p>£25.00</p> <!--UPDATE PRICE-->
            </a>
        </li> <!--More list items here-->
    </ul>

</body>
</html>


