{% extends 'base.html' %}

{% set page_head_title = 'sign_in_registration' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('sign_in_registration.static', filename='css/sign_in_registration.css') }}"/>
{% endblock %}

{% block page_body_main_content %}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <!-- the title of the tab -->
<title>Hokus Mokus | Product Categories</title>
    <!-- Adding icon to the tab -->
    <link rel="icon" href="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.0-9/95345092_101033021608807_8811768939873828864_n.jpg?_nc_cat=107&_nc_sid=09cbfe&_nc_ohc=jYfTuyYuPmoAX8DEYFR&_nc_ht=scontent.ftlv5-1.fna&oh=bb6bf59f57a27f71b49f16ce2539a830&oe=5ED4DB43"/>
</head>
<body>
    <main>
        <aside class="sign_in_block"><!--The left side of the screen-->
            <section>
                <h1>Already Registered?</h1>
            </section>
            <section>
                <form method="POST" action="Route" enctype="application/x-www-form-urlencoded" class="sign_in_form">
                    <div class="form-sing-in">
                        <label for="email" ></label>
                        <input type="email" placeholder="Email address" class="form-control" id="email"  required>*
                    </div>
                    <br>
                    <div class="form-sing-in">
                        <label for="pwd"></label>
                        <input type="password" placeholder="Password" class="form-control" id="pwd" required>*
                    </div>
                    <br>
                    <div class="checkbox">
                        <label><input type="checkbox"> Remember me</label>
                    </div>
                    <br>
                <button type="submit" class="btn-default">Submit</button>
                </form>
        </aside>
        <aside class="registration_block"> <!--The right side on the screen-->
            <section>
                <h1>New to Hokus Mokus?</h1>
            </section>
            <section>
                <form method="POST" action="Route" enctype="application/x-www-form-urlencoded" class="registration_form">
                    <!--all the text in the form will be inside the fill-in space-->
                    <div class="form-registration">
                        <label for="ID"></label>
                        <input type="text" placeholder="ID" class="form-control" id="ID" required>*
                    </div>
                    <br>
                    <div class="form-registration">
                        <label for="user_name"></label>
                        <input type="text" placeholder="User name" class="form-control" id="user_name" required>*
                    </div>
                    <br>
                    <div class="form-registration">
                    <label for="email_address"></label>
                        <input type="email" placeholder="Email address" class="form-control" id="email_address" required>*
                    </div>
                    <br>
                    <div class="form-registration">
                        <label for="pwd"></label>
                        <input type="pwd" placeholder="Password" class="form-control" id="pwd" required>*
                    </div>
                    <br>
                    <div class="form-registration">
                        <label for="first_name"></label>
                        <input type="text" placeholder="First name" class="form-control" id="first_name">
                    </div>
                    <br>
                    <div class="form-registration">
                        <label for="last_name"></label>
                        <input type="text" placeholder="Last name" class="form-control" id="last_name">
                    </div>
                    <br>
                    <div class="form-registration">
                        <label for="city"></label>
                        <input type="text" placeholder="City" class="form-control" id="city" required>*
                    </div>
                    <br>
                    <div class="form-registration">
                        <label for="street"></label>
                        <input type="text" placeholder="Street" class="form-control" id="street" required>*
                    </div>
                    <br>
                    <div class="form-registration">
                        <label for="number"></label>
                        <input type="text" placeholder="Number" class="form-control" id="number" required>*
                    </div>
                    <br>
                    <div class="form-registration">
                        <label for="zip_code"></label>
                        <input type="number" placeholder="Zip code" class="form-control" id="zip_code" required>*
                    </div>
                    <br>
                    <div class="form-registration">
                        <label for="phone_number"></label>
                        <input type="number" placeholder="Phone number" class="form-control" id="phone_number">
                    </div>
                    <br>
                <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </section>
        </aside>
    </main>
</body>
</html>

{% endblock %}

{% block page_body_footer %}{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('sign_in_registration.static', filename='js/sign_in_registration.js') }}"></script>
{% endblock %}
