<link rel="stylesheet" href="{{ url_for('main_menu.static', filename='css/main-menu.css') }}"/>

<div class="nav-bar">
    <a class="nav-bar-link active2" href="/">Home page</a>
    <a class="nav-bar-link active2" href="{{ url_for('about.index') }}">About</a>
    <a class="nav-bar-link active2" href="{{ url_for('product.index') }}">Product check</a>
    <a class="nav-bar-link active2"  href="{{ url_for('sign_in_registration.index') }}">Sign In \ Login</a>
    <a class="nav-bar-link active2"  href="{{ url_for('categories.index') }}">Categories</a>
</div>
