<link rel="stylesheet" href="{{ url_for('main_menu.static', filename='css/main-menu.css') }}"/>
{%
    set menu_items = {
        'homepage': '/',
        'categories': url_for('categories.index'),
        'about': url_for('about.index'),

        'cart': url_for('cart'),
    }
%}
<div class="nav-bar">
{% for item in menu_items %}
        <a class="nav-bar-link"
            href="{{ menu_items[item] }}"
                {% if menu_items[item] == request.path %}
                    class="nav-bar-link active"
                {% endif %}
        >{{ item | capitalize }}</a>
{% endfor %}
{%  if session['logged-in'] %}
    <a class="nav-bar-link active" href="{{ url_for('customer_page.index') }}">Profile</a>
    <a class="nav-bar-link active" href="{{ url_for('customer_feedback.index') }}">Customer Feedback</a>
{% endif %}
</div>
