@import "variables.css";

* { box-sizing: border-box; }
.sign-in-right {
    position: relative;
    display: inline;
	color: #747474;
	font-size: 20px;
	text-align: right;
    margin-left: -10px;
}
.logo-header {
    display: inline;
    height: 90px;
    width: 90px;
    float: left;
    top: 0px;
    border-radius: 10%;
}

body {
    background-color: #272727;
    cursor: url('/static/img/mouse-pointer/wand.png'), auto;
    font-size: 20px;
    color: #747474;
}

.links-footer{
    float: left;
    display: inline-block;
    font-size:36px;
    color:#FF652F;
}
.info {
    display: block;
    color: #747474;
    font-size: 20px;
}
.middle{
    text-align: center;
}

