@import "variables.css";

* { box-sizing: border-box; }
.sign-in-right {
    display: inline;
	color: #747474;
	font-size: 18px;
	font-weight: 300;
	text-align: right;
	margin: 30px 0 80px;
}
.logo-header {
    display: inline;
    margin: 30px 0 80px;
}

body {
    background-color: #272727;
    cursor: url('/static/img/mouse-pointer/wand.png'), default !important;
}