{% extends 'base.html' %}

{% set page_head_title = 'Homepage' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('homepage.static', filename='css/homepage.css') }}"/>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script>
        function show_popup()
        {
          document.getElementById('popup').style.display = 'block';
        }
        window.onload = show_popup;
        //Close modal
        function closeDialog(element)
        {
            var modal = document.getElementById("popup");
	        modal.style.display = "none";
        }
        // Close when clicked outside the modal ----> DOESNT WORK
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
{% endblock %}

{% block page_body_main_content %}
<main>
        <div class="contain-img">
            <img src="/static/media/img/img-home-page/weaslys_shorter.jpg" alt="Home Page Image"
                 class="center-img-home-page"/>
            <div class="top-left">
                <h1 class="heading-1"><strong>Hokus Mokus</strong> | Weaslys' Wizard Wheezes Shop</h1>
            </div>
        </div>
        <div id="popup" class="popup">
            <span class="close" onclick="closeDialog(this)">&times;</span><br/>
            <h1 class="heading-1 modal-heading">Hokus Mokus <strong>SALE!</strong></h1>
            <h2 class="heading-2 modal-heading"> Product of the <strong>week</strong></h2>
            <a href = "/product?id={{ product_week[0].id }}">
                <img class="sale-product"
                     src="{{ url_for('static', filename='media/img/products/' + product_week[0].img) }}"
                     alt={{ product_week[0].name }}/>
                <p class="modal-text"><strong>ONLY</strong> <span>£{{ product_week[0].price }}</span></p>
            </a>
        </div>
   <div class="container">
        <h2 class="heading-2">Hokus Mokus <strong>Products</strong></h2>
        <div id="myCarousel" class="carousel slide"> {# 'slide'- makes the items to slide #}
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner"> {# responsive on the inner carousel #}
                <div class="item carousel-item active">
                    {% for product in products[:4] %}
                        <div class="col-sm-3">
                            <div class="img-box">
                                <a href = "/product?id={{ product.id }}">
                                    <img src="{{ url_for('static', filename='media/img/products/'+product.img) }}"
                                         alt="{{ product.name }}"/>
                                </a>
                            </div>
                            <h4 class="heading-4">{{ product.name }}</h4>
                                <p class="item-price">
                                    {% if product.prev_price %}<del>£{{ product.prev_price }}</del>{% endif %}
                                    <span>£{{ product.price }}</span></p>
                        </div>
                    {% endfor %}
                </div>
                <div class="item carousel-item">
                    {% for product in products[4:] %}
                        <div class="col-sm-3">
                            <div class="img-box">
                                <a href = "/product?id={{ product.id }}">
                                    <img src="{{ url_for('static', filename='media/img/products/'+product.img) }}"
                                         alt="{{ product.name }}"/>
                                </a>
                            </div>
                            <h4 class="heading-4">{{ product.name }}</h4>
                            <p class="item-price"> {% if product.prev_price %}<del>£{{ product.prev_price }}</del>{% endif %} <span>£{{ product.price }}</span></p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</main>
{% endblock %}

{# footer #}
{% block page_body_footer %}
     {{  super() }}
{% endblock %}