
.main-product {
  width: 80%;
  margin-left: 100px;
  padding: 10px;
}

.main-product-details {
  width: 35%;
  float: left;
}

.main-product-image {
  margin-left: 45%;
}

.main-reviews{
    width: 80%;
    margin-top: 40px;
    margin-left: 100px;
    padding: 10px;
}
.add-review{
    width: 40%;
    padding-top: 10px;
    padding-bottom: 15px;
}
.show-reviews-details{
    width: 15%;

}
.review-info{
    padding-top: 15px;
    font-style: italic;
    font-size: 18px;
}
