* {box-sizing: border-box;}

h1{
    text-align: center;
    display: block;
    padding: 5%;
}

h2{
    text-align: center;
    display: block;
    padding-bottom: 5%;
}

input, select, textarea {
  width: 98%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 98%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.block {
  padding: 0px 10px;
  padding: 20px;
}

.top_block{
    text-align: center;
    display: inline;
    padding-bottom: 20px;
}

.nav-link {
    display: inline-block;
    color: #ffecb3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}