p, li, h1, h2, li{ /*2 times li*/
  margin-left: 2%;
}
p{
    width: 55%;
}
h2{
    margin-top: 2%;
}
a {
    cursor: pointer;
}
/*The heading isn't centered. Some pages have centered headings and some don't. We should decide what we like better*/
/*The margins are also different*/
/*The page looks fine. It's up to you if you want padding or not*/