{% extends 'base.html' %}

{% set page_head_title = 'Contact Us' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('customer_feedback.static', filename='css/customer_feedback.css') }}"/>
{% endblock %}

{% block page_body_main_content %}

<link rel="stylesheet" href="../static/css/customer_feedback.css"> <!--This is for me-->
    <div class="top-block"> <!--Title and sub-title-->
        <h1 class="heading-1">Feedback</h1>
        <h3 class="heading-2">Hello, fellow wizard!<br>Please provide your feedback below:</h3>
    </div>
     <!--Rotem wrote the POST with capslock.. I dont know how it should be.. ask her :P  -->
{#  deciide with Rotem if it post or POST I also have form and we need same design  #}
{#  route?  #}
    <form method="post" id="feedback-form" action="route">
            <label for="email">Email address *</label>
            <input type="email" class="form-control" placeholder="wizard@hogwarts.com" id="email" name="email" required><br><!--DONE maybe add some * or something that the user will know thats require -->

            <label for="subject">Message subject *</label> <!--Message-->
            <select id="subject" name="subject" class="form-control">
                <option value="" hidden>Please Select Subject</option>
                <option value="product">Product</option>
                <option value="shipment">Shipment</option>
                <option value="website">website</option>
                <option value="other">Other</option>
            </select>

        <label for="message">Message *</label>
            <textarea name="message" id="message" rows="10" cols="30" required>Please type your message here</textarea><br>
            <input type="submit" value="Submit by Owl Post"><br>
            * Required Field
    </form>

{#why you have html? you dont have open tag#}
{# you need to add block for footer#}
{#and you need the add the py files if you want this to works and thats connects to...#}
{# you need to do second check to the base.css so you will see what i talk about#}
{# we need to have defult design for everything even buttons and input from type subnit you cant see the design if you will not run app.py#}
{# but you also can cancel it in your css so this is also note for the css #}
{# the base file need to get an answer maybe for more things you can add your note to Rotem and Gil there #}

{% endblock %}