{% extends 'base.html' %}

{% set page_head_title = 'Contact Us' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('customer_feedback.static', filename='css/customer_feedback.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
<div class="container-padding">
    <link rel="stylesheet" href="../../../static/css/base.css"> <!--This is for me-->
    <link rel="stylesheet" href="../static/css/customer_feedback.css"><!--This is for me-->
        <div class="top-block"> <!--Title and sub-title-->
            <h1 class="heading-1">Hello, <strong>fellow wizard!</strong></h1>
            <h3 class="heading-3">Please provide your feedback below:</h3>
        </div>
    <div class="form-space">
        <form method="post" id="feedback-form" action="/add_form">
            <div class="input">
                <label class="input-subject" for="subject">Message subject: *</label> <!--Message-->
                <select id="subject" name="subject" class="form-control">
                    <option value="" hidden>Please Select Subject</option>
                    <option value="product">Product</option>
                    <option value="shipment">Shipment</option>
                    <option value="website">website</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <br/>
            <div class="input">
                <label class="label-msg" for="message">Message: *</label>
                <textarea name="message" id="message" class="form-control" required>Please type your message here</textarea>
            </div>
            <div class="button-input">
                <input type="submit" value="Submit by Owl Post"/>
                * Required Field
            </div>
        </form>
    </div>
</div>

{#why you have html? you dont have open tag#}
{# you need to add block for footer#}
{#and you need the add the py files if you want this to works and thats connects to...#}
{# you need to do second check to the base.css so you will see what i talk about#}
{# we need to have defult design for everything even buttons and input from type subnit you cant see the design if you will not run app.py#}
{# but you also can cancel it in your css so this is also note for the css #}
{# the base file need to get an answer maybe for more things you can add your note to Rotem and Gil there #}

{% endblock %}

{# footer #}
{% block page_body_footer %}
     {{  super() }}
{% endblock %}