{% extends 'base.html' %}
{% set page_head_title = 'Categories' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('categories.static', filename='css/categories.css') }}"/>
{% endblock %}
{% block page_body_main_content %}

    <div>
        <h1 class="heading-1">Products <strong>Categories</strong></h1>
    </div>
    <div class="categories-main"><!-- Wrapper for all categories -->
        <!-- All asides will be next to each other -->
        <aside class="col-1">
            <div class="category-name">
                <h2 class="heading-2">Joke</h2>
            </div>
            <div>
                <img border="0" alt="Joke" src="img/categories/cat_1.jpg" id="category1"/>
            </div>
        </aside>
        <aside class="col-2">
            <div class="category-name">
                <h2 class="heading-2">Spyware</h2>
            </div>
            <div>
                <a href="{{ url_for('product.extendable_ears') }}"><img border="0" alt="Spyware" src="img/categories/cat_2.jpg" id="category2"/></a>
            </div>
        </aside>
        <aside class="col-3">
            <div class="category-name">
                <h2 class="heading-2">Muggle Magic</h2>
            </div>
            <div class="category-name">
                <img border="0" alt="Muggle Magic" src="img/categories/cat_3.jpg" id="category3"/>
            </div>
        </aside>
        <aside class="col-4">
            <div class="category-name">
                <h2 class="heading-2">Games</h2>
            </div>
            <div>
                <img border="0" alt="Games" src="img/categories/cat_4.jpg" id="category4"/></a>
                <!-- cg-container end -->
            </div>
        </aside>
    </div>

{% endblock %}
