{% extends 'base.html' %}

{% set page_head_title = 'categories' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('categories.static', filename='css/categories.css') }}"/>
{% endblock %}

{% block page_body_main_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="pages/categories/static/img" target="_blank"> <--!To check the URL-->
</head>
<body>
    <main>
        <section>
            <h1><b>Product's Categories</b><br/></h1>
        </section>
        <br/>
        <!-- Wrapper for all categories -->
        <section class="cg-main">
        <!-- All asides are next to each other -->
            <aside class="col-1">
                <div>
                    <h2>Joke products<br/></h2>
                </div>
                <div>
                    <img border="0" alt="Joke_products" src="../static/img/cat_1.jpg" width="100" height="100" id="category1">
                </div>
            </aside>
            <aside class="col-2">
                <div>
                    <h2>Explosive Enterprises<br/></h2>
                </div>
                <div>
                    <img border="0" alt="Explosive Enterprises" src="../static/img/cat_2.jpg" width="100" height="100" id="category2">
                </div>
            </aside>
            <aside class="col-3">
                <div>
                    <h2>Muggle Magic<br/></h2>
                </div>
                <div>
                    <img border="0" alt="Muggle Magic" src="../static/img/cat_3.jpg" width="100" height="100" id="category3">
                </div>
            </aside>
            <aside class="col-4">
                <div>
                    <h2>Witch Sweets<br/></h2>
                </div>
                <div>
                    <img border="0" alt="Witch Sweets" src="../static/img/cat_4.jpg" width="100" height="100" id="category4">
                <!-- cg-container end -->
                </div>
            </aside>
        </section>
    </main>
</body>
</html>

{% endblock %}

{% block page_body_footer %}{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('categories.static', filename='js/categories.js') }}"></script>
{% endblock %}
