* {box-sizing: border-box;}

h1, h2, h3, p{
  margin-left: 2%;
}

.product {
    position: relative;
    border: 1px solid;
    display: inline-block;
    margin-left: 2%;
    width: 100%;
    padding: 5%;
}

.product-text{
    position: relative;
    bottom: 5%;
}

hr{
    color: #ffecb3;
}

img{
    width: 100%;
    border-radius: 10%;
}

.grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 10px;
}