*{box-sizing: border-box}

main{
    align-content: center;
}

aside{
    vertical-align: center;
    display: inline-block;
    vertical-align: baseline;
    width: 25%;
    padding:30px;
    border-style: solid;
    border-color: #ffecb3;
    background-color: #303030;
    opacity: 85%;
}
.heading-1{
    padding-bottom: 25px;
}

.form-registration{
    padding-bottom: 25px;
}

.sign_in_form{
    padding-bottom: 25px;
}
/*
aside.sign_in_block{
    padding-right:30px;
    padding-left: 30px;
    padding-top: 500px;
    padding-bottom: 500px;
}
 */

