*{box-sizing: border-box}

.sign_in_block{
    position:relative;
    bottom: 577px;
    left: 100px;
}

.registration_block {
    position:relative;
    left : 100px;
}

.container{
    vertical-align: center;
    display: block;
    padding: 100px;
}

aside{
    vertical-align: center;
    display: inline-block;
    width: 40%;
    padding:45px;
    border-style: solid;
    border-color: #ffecb3;
    background: rgba(40,40,40,0.85);
    left: 1000px;
}

.heading-1{
    padding-bottom: 35px;
}

.form-registration{
    padding-bottom: 35px;
}

.sign_in_form{
    padding-bottom: 35px;
    bottom: 30000px;
}