* {box-sizing: border-box;}

h1{
    text-align: center;
    display: inline;
    padding-bottom: 40px;
}

h2{
    text-align: center;
    display: inline;
    padding-bottom: 20px;
}

img{
    width: 150px;
}
