{% extends 'base.html' %}
<!--Hey Jonathan :) -->
{% set page_head_title = 'Contact Us' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('customer_page.static', filename='css/customer_page.css') }}"/>
    <script type="text/javascript" src="{{ url_for('sign_in_registration.static', filename = 'js/sign_up.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('customer_page.static', filename = 'js/sign_up.js') }}"></script>

{% endblock %}

{% block page_body_main_content %}
    <div class="padding-left">
    <div class="top-block"> <!--Title and sub-title-->
        <h1 class="heading-1">Profile <strong>Page</strong></h1>
        <h3 class="heading-3">Hello, {{ session['name'] | capitalize }}!</h3>
    </div>
    <hr/>
    <div class="nav" id="nav">
        <h3 class="heading-3">Shortcuts</h3>
            <a class=nav-link href="{{ url_for('customer_page.index', _anchor='order-block') }}">My Orders</a>
            <a class=nav-link href="{{ url_for('customer_page.index', _anchor='address-block') }}">My Shipping Address</a>
            <a class=nav-link href="{{ url_for('customer_page.index', _anchor='review-block') }}">My Reviews</a>
            <a class=nav-link href="{{ url_for('customer_page.index', _anchor='password-block') }}">Change Password</a>
            <a class=nav-link href="{{ url_for('customer_page.index', _anchor='credit-block') }}">Credit Card Data</a>
            <a class="nav-link" href="#cart">Cart {{ session['noOfItems'] }}</a> {# doesnt work #}
	</div>
    </div>
    <hr/>

    <div class="block" id="order-block" name="order-block">
        <h2 class="heading-2">My <strong>Orders</strong></h2>
        <div class="grid">
            {% if not histories.name %}
                <h4 class="heading-4"> You have not ordered anything! <strong>Hurry Up!</strong></h4>
                <h4 class="heading-4">You <strong>snooze</strong> you lose! <strong>;)</strong></h4>
            {% else %}
            {% for history in histories %}
                <div class="product">
                    <div class="product-text">
                        <p>Product: {{ history.name }}, Order time: {{ history.date_of_order }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
    <div class="block" id="address-block">
        <h2 class="heading-2">My <strong>Shipping</strong> Address</h2>
        <p class="heading-4" id="current-address">Current Address:
            {{ address[0].number }} {{ address[0].street | capitalize }} st.,
            {{ address[0].city | capitalize }}, {{ address[0].country | capitalize }}
        </p>
        <form method="post" id="Change_shipping" action="/update_address">
            <legend>If you wish to update your shipping address, fill the address here:</legend>
            <div class="customer-form">
                <label for="city">City: *</label>
                <input type="text" class="input" name="city" id="city" placeholder="Please fill your city"
                       value="{{ address[0].city }}" required/>
            </div>
            <div class="customer-form">
                <label for="street">Street: *</label>
                <input type="text" class="input" name="street" id="street" placeholder="Please fill your street"
                       value="{{ address[0].street }}" required/>
            </div>
            <div class="customer-form">
                <label for="number">Number: *</label>
                <input type="number" class="input" name="number" id="number" placeholder="Please fill your street number"
                       value="{{ address[0].number }}" required/>
            </div>
            <div class="customer-form">
                <label for="zip_code">Zip-code: *</label>
                <input type="number" class="input" name="zip_code" id="zip_code" placeholder="Please fill your zip code"
                       value="{{ address[0].zip | replace("'", "") }}" required/>
            </div>
            <div class="customer-form">
                <input type="submit" value="Change Shipping Address" name="submit"/>
            </div>
        </form>
    </div>
    {# If there is review so display? #}
    <div class="block" id="review-block">
        <h2 class="heading-2">Recent <strong>Reviews</strong></h2>
        {% for review in reviews %}
            <div class="review">
                <p>Product: {{ review.name }}<br/>Review Date: {{ review.date }} <br/>Review: {{ review.content }} </p> {# how to loop all review? mayebe display only the last one? #}
            </div>
        {% endfor %}
    </div>
    <div class="block" id="password-block">
        <h2 class="heading-2"><strong>Password</strong></h2>
        <form method="post" action="/update_password" class="password-form" onsubmit="return validate()">
            <legend>Enter your old and new passwords here:</legend>
            <div class="customer-form">
                <label for="pwd">Enter old password: *</label>
                <input type="password" class="input" placeholder="Enter old Password" id="pwd" name="pwd" required/>
            </div>
            <div class="customer-form">
                <label for="pwd">Enter new password: *</label>
                <input type="password" class="input" placeholder="Enter new Password" id="npwd" name="npwd" required/>
            </div>
            <div class="customer-form">
                <label for="pwd">Re-enter new password: *</label>
                <input type="password" class="input" placeholder="Enter new Password again" id="npwd2" name="npwd2" required/>
            </div>
            <div class="customer-form">
            <input type="submit" value="Change Password" name="submit"/>
            </div>
        </form>
    </div>
    <div class="block" id="credit-block">
        <h2 class="heading-2"><strong>Credit Card</strong> Data</h2>
        <div class="current-credit">
        <p>Current credit card: ************{{ credit[0].credit_card_number[-4:] }}</p><!--Will pull content somehow-->
        </div>
        <form method="post" class="card-form" id="change_card" action="/update_credit">
            <legend>If you wish to add or change credit data, fill in your new card here:</legend>
            <div class="customer-form">
                <label for="credit">Card number: *</label>
                <input type="number" class="input" id="credit" name="credit" placeholder="Please insert your card number" required/>
            </div>
            <div class="customer-form">
                <label for="exp">Expiration date: *</label>
                <input type="date" class="input" id="exp" name="exp" required/>
            </div>
            <div class="customer-form">
                <label for="cvv">CVV: *</label>
                <input type="number" class="input" name="cvv" id="cvv" placeholder="Please insert your CVV" required/>
            </div>
            <div class="customer-form">
                <input type="submit" value="Change Credit Card" name="submit"/>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{# footer #}
{% block page_body_footer %}
     {{  super() }}
{% endblock %}