<!DOCTYPE html>
<html lang="{{ page_lang|default("en", true) }}">
<head>
    <title>Hokus Mokus | Catalogue</title>
    <!--Meta info-->
    <meta charset="UTF-8"/>
    <meta name="description" content="Customer Page"/>
    <link rel="icon" href="url"/> <!--ADD URL-->

    <base href=""/> <!--ADD URL-->
</head>
<body>
<div class="topblock"> <!--Title and sub-title-->
        <h1>John Doe: Profile</h1>
        <h3>Hi, John</h3>
    </div>
    <hr>

<aside id="cust_sidenav" class="sidenav">
    <h3 class="menuheader">Shortcuts</h3> <!--Side menu header and photo-->
    <img src="../images/Profile.png" alt="Default Photo" style="width:100px">
    <div class="menubody"> <!--Side menu body-->
        <a href="#">My Orders</a><br>
        <a href="#">My Shipping Address</a><br>
        <a href="#">My Wishlist</a><br>
        <a href="#">Change Password</a><br>
    </div>
</aside>
<div class="My_orders">
    <h2>My Orders</h2>
    <ul class="catalogue" style="list-style-type:none;"> <!--List of products-->
        <li class="product">
            <a href="url"> <!--The picture, description and price are all links to one page-->
                <img src="../../catalogue/images/Sticky_0.jpg" border="1" title="Sticky Trainers" alt="Sticky Trainers" style="width:75px">
                <h4>Sticky Trainers</h4>
                <p>Date of Order</p> <!--UPDATE PRICE-->
            </a>
        </li>
        <li class="product">
            <a href="url">
                <img src="../../catalogue/images/Nopoo_0.jpg" border="1" title="Sticky Trainers" alt="Sticky Trainers" style="width:75px">
                <h4>No Poo Bottle</h4>
                <p>Date of Order</p> <!--UPDATE PRICE-->
            </a>
        </li> <!--More list items here-->
    </ul>
</div>
<div class="My_shipping">
    <h2>Shipping Adress:</h2>
    <h4>Tikva street 666, Petah Tikva, Israel</h4> <!--Will pull address somehow-->
</div>



</body>
</html>