<!DOCTYPE html>
<html lang="{{ page_lang|default("en", true) }}">
<head>
    <title>Hokus Mokus | Catalogue</title>
    <!--Meta info-->
    <meta charset="UTF-8"/>
    <meta name="description" content="Customer Page"/>
    <link rel="icon" href="url"/> <!--ADD URL-->

    <base href=""/> <!--ADD URL-->
</head>
<body>
<div class="topblock"> <!--Title and sub-title-->
        <h1>John Doe: Profile</h1>
        <h3>Hi, John</h3>
    </div>
    <hr>

<aside id="cust_sidenav" class="sidenav">
    <div class="user_icon">
        <img src="../images/Profile.png" alt="Default Photo" style="width:100px">
    </div>
    <div class="menubody"> <!--Side menu body-->
    <h3 class="menuheader">Shortcuts</h3> <!--Side menu header and photo-->
        <a href="#">My Orders</a><br>
        <a href="#">My Shipping Address</a><br>
        <a href="#">My Reviews</a><br>
        <a href="#">Change Password</a><br>
        <a href="#">Credit Card Data</a><br>
    </div>
</aside>
<div class="My_orders">
    <h2>My Orders</h2>
    <ul class="catalogue" style="list-style-type:none;"> <!--List of products-->
        <li class="product">
            <a href="url"> <!--The picture, description and price are all links to one page-->
                <img src="../../catalogue/images/Sticky_0.jpg" border="1" title="Sticky Trainers" alt="Sticky Trainers" style="width:75px">
                <h4>Sticky Trainers</h4>
                <p>Date of Order</p> <!--UPDATE PRICE-->
            </a>
        </li>
        <li class="product">
            <a href="url">
                <img src="../../catalogue/images/Nopoo_0.jpg" border="1" title="Sticky Trainers" alt="Sticky Trainers" style="width:75px">
                <h4>No Poo Bottle</h4>
                <p>Date of Order</p> <!--UPDATE PRICE-->
            </a>
        </li> <!--More list items here-->
    </ul>
</div>
<div class="My_shipping">
    <h2>Shipping Address:</h2>
    <h4>This address will be pulled from the user data</h4> <!--Will pull address somehow-->
    <input type="submit" value="Change Shipping Address">
</div>
<div class="My_reviews">
    <h2>Recent Reviews:</h2>
    <h4>This content will be pulled from the user data</h4> <!--Will pull content somehow-->
</div>
<div class="Change_password">
    <h2>Change Password:</h2>
    <label for="pwd">Enter old password:</label>
    <input type="pwd" placeholder="Old Password" id="pwd" required>*<br>
    <label for="pwd">Enter new password:</label>
    <input type="pwd" placeholder="New Password" id="pwd" required>*<br>
    <label for="pwd">Re-enter new password:</label>
    <input type="pwd" placeholder="New Password" id="pwd" required>*<br>
    <input type="submit" value="Change Password">
</div>
<div class="Credit">
    <h2>Credit Card Data:</h2>
    <h4>This content will be pulled from the user data</h4> <!--Will pull content somehow-->
    <input type="submit" value="Change Credit Data">
</div>


</body>
</html>