{% extends 'base.html' %}

{% set page_head_title = 'content_manager' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('content_manager.static', filename='css/content_manager.css') }}"/>
{% endblock %}

{% block page_body_main_content %}

    <div>
        <h1 class="heading-1"><strong>Manager</strong> Pages</h1>
    </div>
    <div class="categories-main">
        <aside class="col-2">
            <div>
                <a href = "/product_manager">
                    <img src="{{ url_for('static', filename='media/img/manager/page1.png') }}" border="0"
                         title="Go to Products manager page" alt="product page"/>
                </a>
            </div>
        </aside>
        <aside>
            <div>
                <a href = "/categories_manager">
                    <img src="{{ url_for('static', filename='media/img/manager/page2.png') }}" border="0"
                         title="Go to Categories manager page" alt="categories page"/>
                </a>
            </div>
        </aside>
    </div>

{% endblock %}

{# footer #}
{% block page_body_footer %}
     {{  super() }}
{% endblock %}