{% extends 'base.html' %}

{% set page_head_title = 'Homepage' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('home.static', filename='css/home.css') }}"/>
{% endblock %}

{% block page_body_main_content %}

<body>



    <main>
        <section class="contain-img">
            <img src="/static/img/img-home-page/magic2.jpg" alt="Wizard's Image" class="center-img-home-page">
            <div class="top-left">Weaslys' Wizard Wheezes Shop</div>
        </section>
        <br/>
        <div class="container">
            <h2>Hokus Mokus <b>Products</b></h2>
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    <div class="item carousel-item active">
                            <div class="col-sm-3">
                                    <div class="img-box">
                                        <img src="/static/img/products/product1.jpg" class="img-responsive img-fluid" alt="product1">
                                    </div>
                                        <h4>Feaver Fudge</h4>
                                        <p class="item-price"><strike>$400.00</strike> <span>$369.00</span></p>
                            </div>
                            <div class="col-sm-3">
                                    <div class="img-box">
                                        <img src="/static/img/products/product2.jpg" class="img-responsive img-fluid" alt="product2">
                                    </div>
                                        <h4>Something With Ear</h4>
                                        <p class="item-price"><strike>$25.00</strike> <span>$23.99</span></p>
                            </div>
                            <div class="col-sm-3">
                                    <div class="img-box">
                                        <img src="/static/img/products/product3.jpg" class="img-responsive img-fluid" alt="product3">
                                    </div>
                                        <h4>Sticky Trainers</h4>
                                        <p class="item-price"><strike>$899.00</strike> <span>$649.00</span></p>
                            </div>
                            <div class="col-sm-3">
                                    <div class="img-box">
                                        <img src="/static/img/products/product4.jpg" class="img-responsive img-fluid" alt="product4">
                                    </div>
                                        <h4>Smelly Candle</h4>
                                        <p class="item-price"><strike>$315.00</strike> <span>$250.00</span></p>
                            </div>
                    </div>
                    <div class="item carousel-item">
                            <div class="col-sm-3">
                                    <div class="img-box">
                                        <img src="/static/img/products/product5.jpg" class="img-responsive img-fluid" alt="product5">
                                    </div>
                                        <h4>Something</h4>
                                        <p class="item-price"><strike>$289.00</strike> <span>$269.00</span></p>
                            </div>
                            <div class="col-sm-3">
                                    <div class="img-box">
                                        <img src="/static/img/products/product6.jpg" class="img-responsive img-fluid" alt="product6">
                                    </div>
                                        <h4>Wow Another Something</h4>
                                        <p class="item-price"><strike>$1099.00</strike> <span>$869.00</span></p>
                            </div>
                    </div>
                </div>
                <!-- Carousel controls -->
                <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
    </div>
    </main>

</body>
{% endblock %}

