{% extends 'base.html' %}

{% set page_head_title = 'Home' %}
{#change title for you base already start title with "Hokus Mokus | "#}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('home.static', filename='css/home.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
<main>
    <div class="contain-img">
        <img src="/static/img/img-home-page/weaslys_shorter.jpg" alt="Home Page Image" class="center-img-home-page"/>
        <div class="top-left">
            <h1 class="heading-1"><strong>Hokus Mokus</strong> | Weaslys' Wizard Wheezes Shop</h1>
        </div>
    </div>
    <div class="container">
        <h2 class="heading-2">Hokus Mokus <strong>Products</strong></h2>
        <div id="myCarousel" class="carousel slide"> {# 'slide'- makes the items to slide #}
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner"> {# responsive on the inner carousel #}
                <div class="item carousel-item active">
                    <div class="col-sm-3">
                        <div class="img-box">
                            <img src="/static/img/products/product1.jpg" alt="product1"/>
                        </div>
                        <h4 class="heading-4">Fever Fudge</h4>
                            <p class="item-price"><del>£45.00</del> <span>£39.90</span></p>
                    </div>
                    <div class="col-sm-3">
                        <div class="img-box">
                            <a href = "{{ url_for('product.extendable_ears') }}">
                                <img src="/static/img/products/extendable_ear.jpg" alt="product2"/>
                            </a>
                        </div>
                        <h4 class="heading-4">Extendable Ear</h4>
                            <p class="item-price"><del>£25.00</del> <span>£15.00</span></p>
                    </div>
                    <div class="col-sm-3">
                        <div class="img-box">
                            <img src="/static/img/products/product3.jpg" alt="product3"/>
                        </div>
                        <h4 class="heading-4">Sticky Trainers</h4>
                            <p class="item-price"><del>£89.00</del> <span>£69.00</span></p>
                    </div>
                    <div class="col-sm-3">
                        <div class="img-box">
                            <img src="/static/img/products/product4.jpg" alt="product4"/>
                        </div>
                        <h4 class="heading-4">Smelly Candle</h4>
                            <p class="item-price"><del>£315.00</del> <span>£250.00</span></p>
                    </div>
                </div>
                <div class="item carousel-item">
                    <div class="col-sm-3">
                        <div class="img-box">
                            <img src="/static/img/products/product5.jpg" alt="product5"/>
                        </div>
                        <h4 class="heading-4">Something</h4>
                            <p class="item-price"><del>£29.00</del> <span>£19.99</span></p>
                    </div>
                    <div class="col-sm-3">
                        <div class="img-box">
                            <img src="/static/img/products/product6.jpg" alt="product6"/>
                        </div>
                        <h4 class="heading-4">Wow Another Something</h4>
                            <p class="item-price"><del>£29.90</del> <span>£19.90</span></p>
                    </div>
                     <div class="col-sm-3">
                        <div class="img-box">
                            <a href="{{ url_for('product.peruvian_instant_darkness_powder') }}">
                                <img src="img/products/peruvian_instant_darkness_powder.jpg" alt="Peruvian Instant Darkness Powder"/>
                            </a>
                        </div>
                        <h4 class="heading-4">Peruvian Instant Darkness Powder</h4>
                            <p class="item-price"> <span>£35.00</span></p>
                    </div>
                </div>
            </div>

            <!-- Carousel controls -->
            <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</main>
{% endblock %}

