{% extends 'base.html' %}

{% set page_head_title = 'Catalog' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('catalog.static', filename='css/catalog.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
    <div class="top-block"> <!--Title and sub-title-->
        <h1 class="heading-1">Spyware <strong>Products</strong></h1>
        <h2 class="heading-2">Magic is only a click away... Expecto patronum!</h2>
    </div> <!--Picture, description and price-->
    {% for product in products %}
        <div class="product">
            <a href = "/product?id={{ product.id }}">
            <img src="{{ url_for('catalog.static', filename=product.img) }}" border="1" title="{{ product.name }}" alt={{ product.name }}/>
            <h3 class="heading-3">{{ product.name }}</h3>
            <p>Price: £{{ product.price }}</p>
            </a>
        </div>
    {% endfor %}

{% endblock %}

{% block page_body_footer %}{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('catalog.static', filename='js/catalog.js') }}"></script>
{% endblock %}
