{% extends 'base.html' %}

{% set page_head_title = 'Catalog' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('catalog.static', filename='css/catalog.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
    <div class="top-block"> <!--Title and sub-title-->
        <h1 class="heading-1">Spyware <strong>Products</strong></h1>
        <h2 class="heading-2">Magic is only a click away... Expecto patronum!</h2>
    </div>
    <hr/>
    <div class="product-list-area">
        <ul class="product-list"> <!--List of products-->
            <li class="product">
                <a href="{{ url_for('extendable_ears.index') }}"> <!--../../product/templates/extendable_ears.html-->
                    <img src="/static/img/products/extendable_ear.jpg" border="1" title="Extendable Ear" alt="Extendable Ear"/>
                    <h3 class="heading-3">Extendable Ear</h3>
                    <p>Price: <del>£25.00</del> £15.00</p>
                </a>
            </li>
            <hr/>
            <li class="product">
                <a href="{{ url_for('peruvian_instant_darkness_powder.index') }}"> <!--../../product/templates/peruvian_instant_darkness_powder.html-->
                    <img src="/static/img/products/Peruvian_Instant_Darkness_Powder.jpg" border="1" title="Peruvain Instant Darkness Powder" alt="Peruvain Instant Darkness Powder"/>
                    <h3 class="heading-3">Peruvian Instant Darkness Powder</h3>
                    <p>Price: £35.00</p>
                </a>
            </li>
            <hr/>
            <li class="product">
                <a href=""> <!--The picture, description and price are all links to one page-->
                    <img src="/static/img/products/product3.jpg" border="1" title="Sticky Trainers" alt="Sticky Trainers"/>
                    <h3 class="heading-3">Sticky Trainers</h3>
                    <p>Price: <del>£80.00</del> £69.00</p>
                </a>
            </li>
            <hr/>
            <li class="product">
                <a href=""> <!--The picture, description and price are all links to one page-->
                    <img src="/static/img/products/product5.jpg" border="1" title="No Poo Bottle" alt="No Poo Bottle"/>
                    <h3 class="heading-3">No Poo Bottle</h3>
                    <p>Price: <del>£25.00</del> £20.00</p>
                </a>
            </li>
            <hr/>
        </ul>
    </div>

    <hr>
<div class="product-list-area">
    <ul class="product-list" style=""> <!--List of products-->
        <li class="product">
            <a href = "{{ url_for('product.extendable_ears') }}"> <!--The picture, description and price are all links to one page-->
                <img src="/static/img/products/extendable_ear.jpg" border="1" title="Extendable Ear" alt="Extendable Ear"/>
                <h3>Extendable Ear</h3>
                <p>Price: <del>£25</del> £15</p>
            </a>
        </li>
        <hr/>
        <li class="product">
            <a href="{{ url_for('product.peruvian_instant_darkness_powder') }}">
                <img src="/static/img/products/Peruvian_Instant_Darkness_Powder.jpg" border="1" title="Peruvain Instant Darkness Powder" alt="Peruvain Instant Darkness Powder"/>
                <h3>Peruvian Instant Darkness Powder</h3>
                <p>Price: £35.00</p>
            </a>
        </li>
        <hr/>
        <li class="product">
            <a href=""> <!--The picture, description and price are all links to one page-->
                <img src="/static/img/products/product3.jpg" border="1" title="Sticky Trainers" alt="Sticky Trainers"/>
                <h3>Sticky Trainers</h3>
                <p>Price: <del>£89.00</del> £69.00</p>
            </a>
        </li>
        <hr/>
        <li class="product">
            <a href=""> <!--The picture, description and price are all links to one page-->
                <img src="/static/img/products/product5.jpg" border="1" title="No Poo Bottle" alt="No Poo Bottle"/>
                <h3>No Poo Bottle</h3>
                <p>Price: <del>£25</del> £20</p>
            </a>
        </li>
        <hr/>
    </ul>
</div>

{% endblock %}

{% block page_body_footer %}{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('catalog.static', filename='js/catalog.js') }}"></script>
{% endblock %}
